<%# the below code loops through the listings %>
<%# the below code is for the grid table - bootstrap%>

<div class="row">
<% @listings.each do |listing| %>
  <div class="col-md-3">
      <%= link_to (image_tag listing.image_url, :style => "height:150px"),listing %><br>
      <%= listing.name %><br>
      <br>
      <%= listing.description %><br>
      <%= listing.category %><br>
      <%= listing.price %><br>
      <%= link_to 'Show', listing, class:" btn btn-link" %><br>
      <%= link_to 'Edit', edit_listing_path(listing),class:" btn btn-link" %><br>
      <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' },class:" btn btn-link" %>
</div>
 <% end %>
</div>




<%= link_to 'New Listing', new_listing_path, class: " btn btn-link" %>
