



<p id="notice"><%= notice %></p>
<%= image_tag @listing.image.url(:medium)%>
<strong></strong>
<%= link_to (image_tag @listing.image_url, :style => "height:300px"),
@listing %>
<p>
  <strong><h4>Product Listing:<h4></strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @listing.description %>
</p>

<p>
  <strong>Category:</strong><br>
  <%= @listing.category %>
</p>

<p>
  <strong>Price:</strong><br>
  <%=@listing.price %>
</p>
<p>

</p>
<%# if current_user == @listing.user %>
 <%# below we styled our buttons "edit, back" using bootstraps link button %>
<%= link_to 'Edit', edit_listing_path(@listing),class:"btn btn-link" %> |
<%# end %>
<%= link_to 'Back', listings_path, class:"btn btn-link" %>
