<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>
    
</head>
<body>
  <%# below are partials linking to the nav bar and footer %>
    <%= render 'layouts/navbar' %>
<%# below is a bootstrap function for adding a container. this center what appears on our website %>
    <div class="container">
      <!--<p class="notice"><%= notice %></p>-->
      <p class="alert"><%= alert %></p>
  <%= yield %>
  <%= render 'layouts/footer' %>
    </div>

</html>
